.Todo-list {
    text-align: center;
}

.Todo-input {
    padding: 8px;
    margin: 10px 0 10px 40px;
    border-radius: 10px;
    border: none;
    width: 450px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
    font-weight: bold;
}

.submit-btn {
    padding: 8px 10px;
    border: none;
    color: #fff;
    background-color: #0000ff;
    border-radius: 10px;
}

.submit-btn:hover {
    background-color: #fff;
    color: #000000;
    transition: 0.25s;
}

.Todos {
    list-style-type: none;
}

.Todo {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    color: #000000;
    width: 400px;
    margin: 20px auto;
}

.Todo-title {
    padding: 6px;
}

.Done-btn {
    padding: 8px;
    border: none;
    background-color: #008000;
    color: #fff;
}

.Delete-btn {
    padding: 8px;
    border: none;
    background-color: #d41616;
    color: #fff;
}

.Done-btn:hover , .Delete-btn:hover {
    background-color: #fff;
    color: #000000;
    transition: 0.25s;
}

.Filter {
    padding: 10px 20px;
    transition: 0.5s;
}

.done {
    text-decoration: line-through;
    opacity: 0.4;
    transition: 0.25s;
}